<div class="bg-img">
  <div class="content">
    <header>Iniciar Sesión</header>
    <form #loginForm="ngForm" (ngSubmit)="onsubmit()">
      <div class="field">
        <span class="fa fa-user"></span>
        <input type="text" name="user" #user="ngModel" [(ngModel)]="dataForm.user" required
          placeholder="Nombre Usuario">
      </div>
      <div class="field space">
        <span class="fa fa-lock"></span>
        <input type="password" name="password" #nombre="ngModel" [(ngModel)]="dataForm.password"
          required placeholder="Password">
        <span class="show">SHOW</span>
      </div>
      <div class="pass">
        <!-- <a href="#">¿Olvidaste tu contraseña?</a> -->
      </div>
      <div class="field">
        <input type="submit" value="Iniciar Sesión">
      </div>
    </form>

  </div>
</div>
