@import url("https://fonts.googleapis.com/css2?family=Peddana&display=swap");

* {
  padding: 0;
  margin: 0;
}

.container {
  height: auto;
}

ion-row {
  height: 29vh;
}

.user {
  padding: 10px;
}

.user ion-toolbar ion-title {
  font-size: 30px;
  font-weight: bold;
  font-family: "Peddana", serif;
}


.estatus ion-col {
  margin: auto;
  padding-left: 35px;
  padding-top: 40px;
}

ion-icon {
  font-size: 100px;
  background: black;
}

#display {
  width: 250px;
  height: 100px;
  border-radius: 25px;
  border: 3px solid #555;
  background: #428bca;
  margin: auto;
}

#display p {
  text-align: center;
  font-size: 35px;
  font-family: "Peddana", serif;
  padding-top: 4vh;
}

.buttons {
  margin: -35px 2px;
}

.select {
  height: auto;
  /* width: 50%; */
  margin: auto;
}

.circulo {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #555;
}

.ande,
.generador {
  color: rgb(48, 47, 47);
  font-weight: bold;
}

.ande {
  margin-top: 15px;
  margin-left: 25px;
}

.generador {
  margin-top: 30px;
}

.generador-on {
  color: red;
  animation: latir infinite 2s linear;
}

.generador-off {
  color: gray;
}

.button-title {
  color: #555;
}

[name="btn-start"] {
  margin: 15px 65px;
}

[name="btn-reset"] {
  margin: 15px 60px;
}


@keyframes latir {
  /*from seria desde que empieza la animacion*/
  0% {
      /**/
      transform: scale(1, 1);
  }

  50% {
      transform: scale(1.02, 1.02);
  }

  55% {
      transform: scale(0.95, 0.95);
  }
  /*hasta que acaba*/
  100% {
      transform: scale(1, 1);
  }
}
